.message-group {
  margin-bottom: 22px;
  
  &__title{
    font-size: 14px;
    line-height: 1.14;
    color: #666666;
    margin-bottom: 12px;
  }
  
  &__inner {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }
}
