.spinner-box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
}

.outer-circle {
  width: 50px;
  height: 50px;
  border: 5px solid #ff7450
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.inner-circle {
  width: 20px;
  height: 20px;
  border: 3px solid #6fff7e
  border-radius: 50%;
}
