.status-button {
  outline: none;
  background: transparent;
  border: none;
  color: #666666;
  margin-right: 15px;
  padding: 0;
  font-size: 16px;
  cursor: pointer
  
  &:last-of-type{
    margin-right: 0;
  }
}
