@import "var.styl";

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: main-font-size;
  color : main-text-color;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

section {
  position: relative;
}
